body {
    background-color: #80808021;
    overflow-x: hidden;
}

.header {
    text-align: center;
    width: 100%;
    height: auto;
}

.header h1 {
    color: #ff2a00a6;
}
.header h3{
    color: blue;
}